<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Amazon FS</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div>
                <a class="brand" href="index.html">Amazon FS</a>
            </div>
            <div class="menu">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px x 830px -->
                        <img class="medium" src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80" alt="products" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gucci Summer Outfit</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>Designed by Olakunle</footer>
    </div>
</body>
</html>